@page
@model Razor_asp_08_04_2024.Pages.infoModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Страница Razor</title>
    <h0> Вторая страница</h0>
    <meta charset="utf-8" />
</head>
<body>
    <h2>info</h2>
 
</body>
</html>